<h1 id="tableLabel">Novel Libary</h1>


<p *ngIf="!easternNovel?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="easternNovel.length">
  <thead>
    <tr>
      <th>Novel Name</th>
      <th>Chapters</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let easternNovel">
      <td>{{ easternNovel.sumName }}</td>
      <td>{{ easternNovel.chapters }}</td>
      <td>{{ easternNovel.summary }}</td>
    </tr>
  </tbody>
</table>
