<p>Light Novel Libary</p>
<p>Wuxia/Xianxia Novels</p>
<img src="https://cdn.novelupdates.com/images/2015/06/15_ISSTH.jpg" alt="I shall seal the heaven" width="300" height="300">
<img src="https://img.webnovel.com/bookcover/8094085105004705/300/300.jpg?updateTime=1552557356092" alt="coiling Dragon" width="300" height="300">
<img src="https://cdn.novelupdates.com/images/2016/03/xianni-1.jpg" alt="Redeage Immortral" width="300" height="300">
<p>Korean Novels</p>
<img src="https://api.reaperscans.net/9be04be4-e37a-4f38-95eb-6e640a9b90f8.webp" alt="ORP" width="300" height="300">
<img src="https://cdn.novelupdates.com/images/2020/12/Everyone-Else-is-a-Returnee.jpeg" alt="ORP" width="300" height="300">



